
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json


.env
.env.*


dist/
build/
tsconfig.tsbuildinfo



pgdata/
postgres/
docker-data/
data/


*.log
*.pid
logs/
tmp/
temp/
*.sock



src/database/migrations/*.js
src/database/migrations/*.js.map



.DS_Store
Thumbs.db



.vscode/
.idea/
*.swp
